In [1]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' 
#and save test1 to a file named test.txt.

import os
test1 ='This is a test of the emergency text system,'
with open('test.txt','w') as f:
    f.write(test1)

In [3]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
with open('test.txt','r') as f:
    test2 = f.read()
    print(test2)

This is a test of the emergency text system,

In [41]:
#3. Create a CSV file called books.csv by using these lines:
#title,author,year
#The Weirdstone of Brisingamen,Alan Garner,1960
#Perdido Street Station,China Miéville,2000
#Thud!,Terry Pratchett,2005
#The Spellman Files,Lisa Lutz,2007
#Small Gods,Terry Pratchett,1992

import csv


rows = (['title','author',"year"],['The Weirdstone of Brisingamen','Alan Garner','1960'],
['Perdido Street Station','China Miéville','2000'],
['Thud!','Terry Pratchett','2005'],
['The Spellman Files','Lisa Lutz','2007'],
['Small Gods','Terry Pratchett','1992'])


with open("books.csv",'w') as f:
    fw= csv.writer(f)
    
    fw.writerows(rows)

In [42]:
import pandas as pd

data =pd.read_csv(r'C:\Users\aniru\books.csv')

df = pd.DataFrame(data)

In [61]:
#4. Use the sqlite3 module to create a SQLite database called books.db, 
#and a table called books with these fields: title (text), author (text), and year (integer).
import sqlite3

f = "books.db"

c= sqlite3.connect(f)

cur =c.cursor()
cur.execute('drop table books')
cur.execute('create table books(title VARCHAR(100), author VARCHAR(30), Year INT(30))')

In [62]:
for r in df.itertuples():
    print(r)
    cur.execute('insert into books(title,author,year) values (?,?,?)',r[1:])
c.commit()

Pandas(Index=0, title='The Weirdstone of Brisingamen', author='Alan Garner', year=1960)
Pandas(Index=1, title='Perdido Street Station', author='China Mi�ville', year=2000)
Pandas(Index=2, title='Thud!', author='Terry Pratchett', year=2005)
Pandas(Index=3, title='The Spellman Files', author='Lisa Lutz', year=2007)
Pandas(Index=4, title='Small Gods', author='Terry Pratchett', year=1992)

In [63]:
cur.execute('select * from books')

In [64]:
cur.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Mi�ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

In [65]:
pd.read_sql('select * from books',c)

                           title           author  Year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Mi�ville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [66]:
#6. Select and print the title column from the book table in alphabetical order.

cur.execute('select * from books')

In [67]:
cur.execute('select * from books order by title')

In [68]:
cur.fetchall()

[('Perdido Street Station', 'China Mi�ville', 2000),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Thud!', 'Terry Pratchett', 2005)]

In [71]:
#7. From the book table, select and print all columns in the order of publication.
cur.execute('select * from books order by year')

In [72]:
cur.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Mi�ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

In [74]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
!pip install sqlalchemy
import sqlalchemy as db

e  = db.create_engine('C:\Users\aniru\books.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-74-ecc17a7bdcb7>, line 5)

In [75]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. 
#Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester').
#Print all the fields for test.

!pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\aniru\anaconda3\lib\site-packages (from redis) (20.9)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\aniru\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\aniru\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4

In [ ]:
import redis

hash = redis.Redis()
hash.mset({'Field count':1,'Name':'Fester Bestertester'})

In [ ]:
#10. Increment the count field of test and print it.
v = hash.get('Field count')

v = v+1

hash.mset({'Field count':v,'Name':'Fester Bestertester'})

print(hash.get('Field count'))